<center><h1>Login Page</h1></center><hr/>

    <form ng-submit="login.test(data);">
   <table>
     <tr>
      <th>Login</th><br/>
    </tr>
    <tr>
      <td>Username:</td><td><input id="10" type="text" name="username" required ng-model="login.data.username"></td><br/>
    </tr>
    <tr>
       <td>Password:</td><td><input id="11" type="password" name="password" required ng-model="login.data.password"></td><br/>
    </tr>
    <tr>
      <td><input type="submit" name="submit" value="submit"></td>
    </tr>
   </table>
 </form>
